/* div > h2{
    font-style: italic;
}

div h2 + p {
    color:red;
}

.list {
    list-style: none;
    border-bottom: 1px solid grey;
} */
li a:link {
    color:green;
}

li a:visited {
    color:red;
}

li a:hover {
    color:pink;
}
li:first-child:first-letter {
    font-size: 120%;
    font-weight: bold;
}